{% extends "core/base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
<h1>Applications overview</h1>

<h2>Applications<span class="inline-link"><a href="{% url 'applications:add-application' %}">New</a></span></h2>
<p><a href="{% url 'applications:admission-tests' %}">Admission tests</a></p>
<section>
<h3>Not applied</h3>
{% if applications.not_applied %}
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Institute</th>
    <th>Applied</th>
    <th>Deadline</th>
  </tr>
  {% for application in applications.not_applied %}
  <tr>
    <td><a href="{% url 'applications:edit-application' application.pk %}">Edit {{ forloop.counter }})</a></td>
    <td><a href="{{ application.url }}">{{ application.title }}</a></td>  
    <td>{{ application.institute.name }}</td>
    <td>{{ application.has_applied }}</td>
    <td>{{ application.deadline }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No unfinished applications</p>
{% endif %}
</section>

<section>
<h3>Finished applications</h3>
{% if applications.has_applied %}
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Institute</th>
    <th>Applied</th>
    <th>Deadline</th>
  </tr>
  {% for application in applications.has_applied %}
  <tr>
    <td><a href="{% url 'applications:edit-application' application.pk %}">Edit ({{ forloop.counter }})</a></td>
    <td><a href="{{ application.url }}">{{ application.title }}</a></td>  
    <td>{{ application.institute.name }}</td>
    <td>{{ application.has_applied }}</td>
    <td>{{ application.deadline }}</td>
  {% endfor %}
</table>
{% else %}
<p>No finished applications</p>
{% endif %}
</section>

{% endblock %}
